@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@if (!String.IsNullOrWhiteSpace(Model.StockAvailability) || Model.DisplayBackInStockSubscription)
{
    <div class="availability">
        @if (!String.IsNullOrWhiteSpace(Model.StockAvailability))
        {
            <div class="stock">
                <strong>@T("Products.Availability"):</strong>
                <span class="value">@Model.StockAvailability</span>
            </div>
        }
        @Html.Partial("_BackInStockSubscription", Model)
    </div>
}